body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

section {
    margin: 40px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

section:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #333;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #1f1f1f;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
